@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


body{
    background-color: rgb(219, 219, 219);
}

.container {
    width: 1000px;
    margin: auto;
}

header{
    background-color: teal;
    color: #fff;
    height: 40vh;
    margin-bottom: 18vh;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu_items a{
    margin: 10px;
    color: #fff;
    text-transform: capitalize;
}
.menu_items a:hover{
   border-bottom: 1px solid  #fff;
   
}

.navbar_acc img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}


/*Hero selection*/

.hero_section{
    padding: 10px;
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.hero_section .acc_details{
    display: flex;
    align-items: center;
}

.acc_details img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1.5rem;

}


.hero_section .updates{
    display: inline-flex;
    align-items: center;
    border: 2px solid rgba(219, 229, 238);
    padding: 5px 10px;
    border-radius: 50px;
}

.updates div{
    margin-right:1rem;
    padding: 5px 1rem;
    font-size: 10px;
    border-radius: 7px;
    background-color: rgb(220, 229, 238);
    color: #000;
    cursor: pointer;
}

.updates p{
    font-size: 12px;

}

/*CArd Section*/

.card_wrap{
    margin-top: 0.6rem;
    
    padding:10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card_wrap .card{
    padding: 10px;
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}

.card .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.card .info i{
    padding: 10px;
    background-color: rgba(220,229,238);
    border-radius: 50%;
    font-size: 1.5;
    color: teal;
}


.card .info .rank{
    color: rgb(177, 180, 180)
}

.card .detail{
    margin-top:1rem;
    padding: 10px;
}

.card .detail span{
    font-size: 10px;
}

.card .detail h2 span{
    color: gray;
}


/*Body section Analytics*/

.body_section{
    margin-top: 6rem;
}

.analytic{
    padding:10px;
}

.anay_wrap{
    padding: 10px;
    background:#fff;
    border-radius: 10px;
   


}

/*Buttons */

.analy_buttons{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.analy_buttons button{
    padding: 8px 12px;
    margin-right: 10px;
    border-radius:5px ;
    cursor: pointer;
    background: rgb(220, 229, 238);

}

.analy_buttons .active{
    background: teal;
    color: #fff;
}


.analy_buttons button:hover{
    background: teal;
    color: #fff;
    transition: 0.5s;
}

.search_box{
    padding: 8px;
    border-radius: 5px;
    background:rgb(220, 229, 238) ;
    display: flex;
    align-items: center;
    
}
.search_box i{
    
    margin-right: 10px;
    cursor: pointer;
    color: teal;
}

.search_box input{
    background-color: transparent;  
    cursor: pointer;
}

table{
    width: 100%;
    text-align: left;
  

}
table th,td{
    font-size: 16px;
    padding: 0.8rem 2rem;
    color: rgb(170, 170, 170);
    border-bottom:1px solid rgb(220, 229, 238);;
}



